.game {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 70px;
  user-select: none;
}

/* Game Sides */
.game__side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 64px;
}
.game__side h2 {
  font-size: 24px;
  letter-spacing: 3px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.game__side img {
  height: 300px;
  object-fit: contain;
}

/* Result Message */
.game__msg h1 {
  margin-bottom: 18px;
  font-size: 56px;
  letter-spacing: 0.35px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.game__msg Button {
  width: 100% !important;
  padding: 8px 16px !important;

  font-size: 16px !important;
  letter-spacing: 2.5px !important;
  color: hsl(229, 25%, 31%) !important;
  font-weight: 600 !important;

  background-color: white !important;
  border-radius: 8px !important;
}
/* Result Message: Functioning */
.game__msg {
  display: none;
}
.game__msg.show {
  display: block;
}

/* Animation On Result */
.game__side button {
  position: relative;
}

.game__side button::before,
.game__side button::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  animation: ripple 0.75s cubic-bezier(0.65, 0, 0.34, 1) 0s 1;
}

.game__side button::before {
  height: calc(332px * 1.75);
  width: calc(332px * 1.75);
  border: 84px solid hsl(223, 44%, 21%); /* Outer Ring */
}
.game__side button::after {
  height: calc(332px * 1.28);
  width: calc(332px * 1.28);
  background: hsl(224, 33%, 28%); /* Inner Ring */
  border: 78px solid hsl(223, 39%, 24%); /* Middle Ring */
}

@keyframes ripple {
  from {
    transform: scale3d(0, 0, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/* Animation: Functioning */
.game__side button::before,
.game__side button::after {
  display: none;
}
.game__side.show button::before,
.game__side.show button::after {
  display: block;
}

/* Responsiveness - Mobile Screen */
@media (max-width: 376px) {
  .game {
    margin-top: 64px;
    column-gap: 55px;
  }

  /* Game Sides */
  .game__side {
    flex-direction: column-reverse;
    row-gap: 28px;
  }
  .game__side h2 {
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  .game__side img {
    height: 132px;
    object-fit: contain;
  }

  /* Result Message */
  .game__msg {
    position: absolute;
    bottom: 164px;
  }
  .game__msg h1 {
    margin-bottom: 26px;
  }

  /* Animation On Result */
  .game__side button::before {
    height: calc(148px * 1.75);
    width: calc(148px * 1.75);
    border: 48px solid hsl(223, 44%, 21%); /* Outer Ring */
  }
  .game__side button::after {
    height: calc(148px * 1.28);
    width: calc(148px * 1.28);
    background: hsl(224, 33%, 28%); /* Inner Ring */
    border: 38px solid hsl(223, 39%, 24%); /* Middle Ring */
  }
}
